services:
  db:
    image: mcr.microsoft.com/mssql/server:2019-latest
    environment:
      - SA_PASSWORD=TESTTESTTEST123:)
      - ACCEPT_EULA=Y
    networks:
      - blueberry
  backend:
    image: blueberry
    build: .
    depends_on:
      - db
    ports:
      - "7104:7104"
      - "5020:5020"
    environment:
      - ConnectionString=Server=db;Database=blueberry;User Id=sa;Password=TESTTESTTEST123:)
    volumes:
      - '.local/.aspnet/https:/https/:ro'
    networks:
      - blueberry
networks:
  blueberry: {}
