.pageContent {
    display: flex;
    flex-direction: row;
    margin: 80px;
}

.chosentags {
    width: 20%;
    border-radius: 15px;
    background-color: gainsboro;
    color: white;
    padding: 20px;
}

.searchForTags {
    width: 62%;
    display: flex;
    flex-direction: column;
    margin: 40px;
}

.searchComponent {
    display: flex;
    flex-direction: row;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 5px;

}

.searchComponent:focus-within {
    border: 1px solid blue;
}

.searchbar {
    width: 100%;
    flex-grow: 2;
    border: none;
}

.searchbar:focus {
    outline: none;
}

.searchbutton {
    border: none;
    background: white;
}

.searchIcon:hover {
    color: blue;
}

.tags {
    margin-top: 30px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
}

.tag {
    -webkit-flex: 1 auto;
    flex: 1 auto;
    text-align: center;
    margin: 2px;
}

.tagNav {
    margin-top: 30px;
}
