@page "/"
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager


<PageTitle>Main</PageTitle>
<div class="content">
    <div class="logo">
        <img src="/Assets/img/logo.svg" class="logoImage" alt="">
    </div>
    <SearchComponent />
</div>

@code {
}
