@page "/"
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@attribute [Authorize]
@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager


<PageTitle>Main</PageTitle>
<div class="content">
    <div class="logo">
        <img src="/Assets/img/logo.svg" class="logoImage" alt="">
    </div>
    <SearchComponent SearchMethod=@NavigateToMaterial />
</div>

@code {

      void NavigateToMaterial(SearchOptions options)
      {
          string searchKey = Uri.EscapeDataString(options.SearchString); 
          string tags = string.Join(",",options.Tags ?? new PrimitiveSet<string>(){});
          int startyear = options.StartDate.Value.Year;
          int endyear = options.EndDate.Value.Year;
          
          Sortings sortBy = options.SortBy ?? Sortings.NEWEST;
          string type = options.Type ?? "";
          var URL = $"material?searchKey={searchKey}&tags={tags}&startyear={startyear}&endyear={endyear}&sortby={sortBy}&type={type}";
          Navigation.NavigateTo(URL);
      }
}
