@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<AuthorizeView>
    <Authorized>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                data-bs-toggle="dropdown" aria-expanded="false" style="background-color: white; color: black; border: none">
                Hello, @context.User.Identity?.Name
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" ><button class="nav-link btn btn-link" @onclick="goToInterests">Update interests</button></a></li>
                <li><a class="dropdown-item" ><button class="nav-link btn btn-link" @onclick="BeginLogout">Log out</button></a></li>
            </ul>
        </div>

    </Authorized>
    <NotAuthorized>
        <a href="authentication/login">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code {
    private async Task BeginLogout(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }

    void goToInterests(){
         Navigation.NavigateTo("blueberry/interests");
    }
}
